<h1>Welcome to testicann!</h1>
<!--test7-->
<!--<a [routerLink]="['data-protection']">data-protection</a>-->
<!--<a [routerLink]="['accountability']">accountability</a>-->
<!--<a [routerLink]="['accountability', 'reports']">accountability reports</a>-->

<h1>Architech</h1>

<a [routerLink]="['lib1']">lib1</a>
<a [routerLink]="['lib2']">lib2</a>
<a [routerLink]="['lib3']">lib3</a>
<a [routerLink]="['lib4']">lib4</a>
<a [routerLink]="['lib5']">lib5</a>
<a [routerLink]="['lib6']">lib6</a>
<a [routerLink]="['lib7']">lib7</a>
<a [routerLink]="['lib8']">lib8</a>
<a [routerLink]="['lib9']">lib9</a>
<router-outlet></router-outlet>
